<div class="row">
  <div class="col-md-3 col-md-offset-4">
    <h1 class="logo">assis</h1>
  </div>
</div>
<div class="row">
 <div class="col-md-3 col-md-offset-4">
  <div class="login_mod bigEntrance">
    <h2>Forget Password?</h2>
    <form role="form"  ng-submit="forget()" ng-controller="ForgetCtrl">
    <div class="form-group">
      <label for="user_email">Email/Username</label>
      <input type="email" class="form-control" ng-model="user_email" id="user_email" placeholder="Enter email" required="required">
    </div>
   <!--  <div class="form-group">
      <label for="user_pass">Password</label>
      <input type="password" class="form-control" ng-model="user_pass" id="user_pass" placeholder="Password" required="required">
    </div> -->
  <!--   <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="remember"> Remember me!
      </label>
    </div> -->
    <div class="checkbox">
      <a class="pull-right" href="#/">Back to login!</a>
      <div class="clearfix"></div>
    </div>
    <button type="submit" class="btn btn-default btn-block">Submit</button>
  </form>

  <div class="social_login">
    <h3>sign up with </h3> 
    <ul class='social'>
      <li class="fa fa-facebook"></li>
      <li class="fa fa-twitter"></li>
      <li class="fa fa-google-plus"></li>
    </ul>
  </div>



  </div>
  
</div>
</div>